<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Index Page Here</h1>
    <h2>Nothing to see here, move along.</h2>
    <% JSON.stringify(messages) %> 
        <% if(messages.errors) { %>
            <% for (var x of messages.errors) { %>
            <h3><%= x %></h3>
        <% } %>
    <% } %>
    <form action="/" method="POST">
        Name:<input type="text" name="name"><br>
        Message:<input type="text" name="content">
        <button type="submit">Post Message</button>
    </form>
        <% for (var e of message) { %>
        <h3>Name: <%= e.name %></h3>
        <h4>Message: <%= e.content %></h4>
            <h5>Comments: </h5>
            <% for (var c of e.comments) { %>
            <h5>Name: <%= c.name %></h5>
            <h5>Comment: <%= c.content %></h5>
            <% } %>
            <hr>
            Add a New Comment:
            <form action="/comment/<%= e._id %>", method="POST">
            Name:<input type="text" name="name"><br>
            Comment:<input type="text" name="content">
            <button type="submit">Post Comment</button>
        </form>
        <hr>
        <% } %>
    
</body>
</html>